@font-face {
	font-family: AllianceNo2;
	src: url(https://cdn.jsdelivr.net/gh/danielsebesta/GithubUniverse-Font-AllienceNo2@main/AllianceNo2-Regular.woff2)
		format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: AllianceNo2;
	src: url(https://cdn.jsdelivr.net/gh/danielsebesta/GithubUniverse-Font-AllienceNo2@main/AllianceNo2-RegularItalic.woff2)
		format("woff2");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: AllianceNo2;
	src: url(https://cdn.jsdelivr.net/gh/danielsebesta/GithubUniverse-Font-AllienceNo2@main/AllianceNo2-Bold.woff2)
		format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: AllianceNo2;
	src: url(https://cdn.jsdelivr.net/gh/danielsebesta/GithubUniverse-Font-AllienceNo2@main/AllianceNo2-BoldItalic.woff2)
		format("woff2");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: AllianceNo2;
	src: url(https://cdn.jsdelivr.net/gh/danielsebesta/GithubUniverse-Font-AllienceNo2@main/AllianceNo2-LightItalic.woff2)
		format("woff2");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: AllianceNo2;
	src: url(https://cdn.jsdelivr.net/gh/danielsebesta/GithubUniverse-Font-AllienceNo2@main/AllianceNo2-Medium.woff2)
		format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: AllianceNo2;
	src: url(https://cdn.jsdelivr.net/gh/danielsebesta/GithubUniverse-Font-AllienceNo2@main/AllianceNo2-MediumItalic.woff2)
		format("woff2");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: AllianceNo2;
	src: url(https://cdn.jsdelivr.net/gh/danielsebesta/GithubUniverse-Font-AllienceNo2@main/AllianceNo2-SemiBold.woff2)
		format("woff2");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: AllianceNo2;
	src: url(https://cdn.jsdelivr.net/gh/danielsebesta/GithubUniverse-Font-AllienceNo2@main/AllianceNo2-SemiBoldItalic.woff2)
		format("woff2");
	font-style: italic;
	font-weight: 600;
}
